.flex-container{
    padding: 20px;
    background-color: lightgray;
    display: flex;
}

.flex-el{
    width: 100px;
    height: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.bg-blue{
    background-color: blue;
}

.bg-orange{
    background-color: orange;
}

.bg-green{
    background-color: green;
}

.bg-violet{
    background-color: violet;
}

.bg-pink{
    background-color: pink;
}